<%- include('../partials/header.ejs') %>

<div class='container'>
	
	<div class='jumbotron'>
		<h1>
			Welcome to YELPCAMP
		</h1>

		<p>
			Below is the list of few of our Campsites
		</p>

		<a href='/campgrounds/new' class='btn btn-primary'>Add Campground</a>
	</div>
	
	<div class='row'>
		<% campground.forEach(function(camp){ %>
				<div class='col-md-3 col-sm-6 d-flex align-items-stretch'>
					<div class='card mb-2'>			
						<img src='<%= camp.image %>' class='card-img-top'>
						<div class='card-body'>
							<h3 class='card-title'>
								<%= camp.name %>
							</h3>
							<a class='btn btn-primary' href='/campgrounds/<%=camp._id%>'>Details</a>
						</div>
					</div>	
				</div>
		<% }) %>
	</div>
	
</div>
<%- include('../partials/footer.ejs') %>